<header class="header">
    <p class="tittle">Watch <span class="span-name">Movies</span></p>
    <nav class="navbar">
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/catalago">Catalogo</a>
            </li>
            <li>
                <a href="/register">Cadastro</a>
            </li>
        </ul>
    </nav>
</header>